In [2]:
import pandas as pd

In [7]:
data = pd.read_csv("C:/Users/rafal/Desktop/DS/Merceri price/train.tsv", sep = '\t')

In [8]:
data.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [28]:
pv = pd.pivot_table(data, values = ['price'],index = ['brand_name'], aggfunc = ['count', np.mean, np.median])

In [29]:
pv.columns = pv.columns.get_level_values(0)

In [30]:
pv.sort_values(by = ['count'], ascending = False)

                      count        mean  median
brand_name
PINK                  54088   26.341314    20.0
Nike                  54043   30.760265    22.0
Victoria's Secret     48036   23.214287    19.0
LuLaRoe               31024   33.667967    29.0
Apple                 17322   73.268618    22.0
FOREVER 21            15186   12.929935    12.0
Nintendo              15007   34.672619    20.0
Lululemon             14558   47.096717    39.0
Michael Kors          13928   62.254775    49.0
American Eagle        13254   15.960955    14.0
Rae Dunn              12305   37.170581    30.0
Sephora               12172   21.820613    16.0
Coach                 10463   41.142550    31.0
Disney                10360   17.146670    13.0
Bath & Body Works     10354   17.905737    14.0
Adidas                10202   43.127328    25.0
Funko                  9237   29.054888    20.0
Under Armour           8461   19.367923    16.0
Sony                   7994   35.466662    19.0
Old Navy               7567   12.796022    11.0
Hollister              6948   14.848158    13.0
Carter's               6385   13.924902    11.0
Urban Decay            6210   22.973430    19.0
The North Face         6172   36.077447    30.0
Independent            5902   36.716367    33.0
Too Faced              5794   22.477304    19.0
Xbox                   5709   30.477141    17.0
Brandy Melville        5680   18.831690    16.0
Kate Spade             5411   57.979948    46.0
MAC                    5302   21.899000    16.0
...                     ...         ...     ...
Liebeskind                1   79.000000    79.0
Lowa                      1   18.000000    18.0
Livinglibations           1   16.000000    16.0
Love Riche                1   18.000000    18.0
Louis Raphael             1   12.000000    12.0
Louis Garneau             1    8.000000     8.0
Loudmouth Golf            1   25.000000    25.0
Lot                       1    9.000000     9.0
Longitude                 1    7.000000     7.0
Longines                  1  254.000000   254.0
Lolly Wolly Doodle        1    8.000000     8.0
Lojas Riachuelo           1   14.000000    14.0
Loewe                     1   35.000000    35.0
Lodis                     1   15.000000    15.0
Lixit                     1    7.000000     7.0
Living Dead Souls         1   14.000000    14.0
Lilli Ann                 1   11.000000    11.0
Little Trees              1   12.000000    12.0
Little Mistress           1   54.000000    54.0
Little Lass               1   12.000000    12.0
Little Gifts              1   31.000000    31.0
Lite Brix                 1   46.000000    46.0
Lisa Maree                1   44.000000    44.0
Lipstick Boutique         1    8.000000     8.0
Lipstick Bandit           1    9.000000     9.0
Linea Pelle               1   66.000000    66.0
Lime Crime Cosmetics      1   48.000000    48.0
Lilu                      1    7.000000     7.0
Lillie Rubin              1   10.000000    10.0
wallis                    1    8.000000     8.0

[4809 rows x 3 columns]

In [32]:
data.info

<bound method DataFrame.info of          train_id                                     name  item_condition_id  \
0               0      MLB Cincinnati Reds T Shirt Size XL                  3
1               1         Razer BlackWidow Chroma Keyboard                  3
2               2                           AVA-VIV Blouse                  1
3               3                    Leather Horse Statues                  1
4               4                     24K GOLD plated rose                  1
5               5         Bundled items requested for Ruie                  3
6               6       Acacia pacific tides santorini top                  3
7               7     Girls cheer and tumbling bundle of 7                  3
8               8                    Girls Nike Pro shorts                  3
9               9   Porcelain clown doll checker pants VTG                  3
10             10                          Smashbox primer                  2
11             11                   New vs pi k body mists                  1
12             12                       Black Skater dress                  2
13             13                     Sharpener and eraser                  1
14             14       HOLD for Dogs2016 Minnetonka boots                  3
15             15              Sephora tarte birthday gift                  1
16             16                        Glitter Eyeshadow                  1
17             17      New: Baby K'tan active baby carrier                  1
18             18      Too Faced Limited "Merry Macaroons"                  1
19             19           Cream/ Beige Front Cross Shirt                  2
20             20          Torrid Nautical Peplum Tube Top                  3
21             21         NWT VS ULTIMATE SPORTS BRA 34ddd                  1
22             22           Galaxy S7 Edge (Unlocked) 32GB                  3
23             23                       Triple car charger                  1
24             24               Black and Red Baseball Tee                  2
25             25                    Air Jordan carmine 6s                  3
26             26  Otterbox Defender iPhone 6 Plus/6s Plus                  1
27             27   LuLaRoe OS Black With White Polka Dots                  3
28             28        Forever21 floral romper strapless                  2
29             29                            Kendra bundle                  3
...           ...                                      ...                ...
1482505   1482505                   NorthFace rain jacket!                  3
1482506   1482506               KitchenAid 4.5 quart mixer                  1
1482507   1482507             Grand Theft Auto V: XBOX ONE                  3
1482508   1482508                Victoria secret black bag                  1
1482509   1482509                          Fitbit Charge 2                  3
1482510   1482510      2×Popsockets for all phone & Tablet                  1
1482511   1482511         Bebe Beauty Gloss Icon Lip Gloss                  1
1482512   1482512                                Lululemon                  2
1482513   1482513        Yugioh Ultra Rare B. Skull Dragon                  3
1482514   1482514                     Anthropologie Purse!                  3
1482515   1482515                      Pink Yankees hoodie                  3
1482516   1482516     New Bath & Body Works Scented Candle                  1
1482517   1482517              34D VS PINK red push up bra                  3
1482518   1482518     Brooches: lot of 5 assorted (1 Coro)                  3
1482519   1482519             SALE! FreeShip VS Logo Thong                  1
1482520   1482520                         Bundle for BeSpa                  3
1482521   1482521       Tarte Amazonian clay 12 hour blush                  1
1482522   1482522              LG K7/Tribute 5 Hybrid Case                  1
1482523   1482523                  NARS illuminator orgasm                  3
1482524   1482524             Penn State Jogger Sweatpants                  2
1482525   1482525      Red Victoria's Secret bra w sequins                  2
1482526   1482526     Harry Potter Shirt! Women M/ Girl XL                  2
1482527   1482527    Blk/white ribbed mock neck bodysuit M                  1
1482528   1482528      Victoria's Secret Tankini Sz. Large                  2
1482529   1482529                            Men's UA [rm]                  2
1482530   1482530               Free People Inspired Dress                  2
1482531   1482531            Little mermaid handmade dress                  2
1482532   1482532    21 day fix containers and eating plan                  2
1482533   1482533                   World markets lanterns                  3
1482534   1482534            Brand new lux de ville wallet                  1

                                             category_name         brand_name  \
0                                        Men/Tops/T-shirts                NaN
1        Electronics/Computers & Tablets/Components & P...              Razer
2                              Women/Tops & Blouses/Blouse             Target
3                       Home/Home Décor/Home Décor Accents                NaN
4                                  Women/Jewelry/Necklaces                NaN
5                                        Women/Other/Other                NaN
6                                 Women/Swimwear/Two-Piece    Acacia Swimwear
7                          Sports & Outdoors/Apparel/Girls              Soffe
8                          Sports & Outdoors/Apparel/Girls               Nike
9                 Vintage & Collectibles/Collectibles/Doll                NaN
10                                      Beauty/Makeup/Face           Smashbox
11                                  Beauty/Fragrance/Women  Victoria's Secret
12                          Women/Dresses/Above Knee, Mini                rue
13                   Other/Office supplies/School Supplies         Scholastic
14                                       Women/Shoes/Boots      UGG Australia
15                               Beauty/Makeup/Makeup Sets              Tarte
16                                      Beauty/Makeup/Eyes         Wet n Wild
17                          Kids/Gear/Backpacks & Carriers                NaN
18                           Beauty/Makeup/Makeup Palettes          Too Faced
19                             Women/Tops & Blouses/Blouse      Anthropologie
20                         Women/Tops & Blouses/Tank, Cami             Torrid
21                      Women/Athletic Apparel/Sports Bras  Victoria's Secret
22       Electronics/Cell Phones & Accessories/Cell Pho...            Samsung
23       Electronics/Cell Phones & Accessories/Chargers...                NaN
24                           Women/Tops & Blouses/T-Shirts         FOREVER 21
25                                      Men/Shoes/Athletic         Air Jordan
26       Electronics/Cell Phones & Accessories/Cases, C...              Apple
27          Women/Athletic Apparel/Pants, Tights, Leggings            LuLaRoe
28                                Women/Swimwear/One-Piece         FOREVER 21
29                                    Women/Jeans/Boot Cut          Hollister
...                                                    ...                ...
1482505                     Women/Coats & Jackets/Raincoat     The North Face
1482506            Home/Home Appliances/Kitchen Appliances         KitchenAid
1482507           Electronics/Video Games & Consoles/Games                NaN
1482508                Women/Women's Handbags/Shoulder Bag  Victoria's Secret
1482509     Sports & Outdoors/Exercise/Fitness accessories                NaN
1482510  Electronics/Cell Phones & Accessories/Cell Pho...                NaN
1482511                                 Beauty/Makeup/Lips                NaN
1482512               Women/Athletic Apparel/Shirts & Tops          Lululemon
1482513     Vintage & Collectibles/Trading Cards/Animation             Konami
1482514                     Handmade/Bags and Purses/Purse                NaN
1482515                              Women/Sweaters/Hooded               PINK
1482516                  Home/Home Décor/Candles & Holders  Bath & Body Works
1482517                               Women/Underwear/Bras               PINK
1482518              Vintage & Collectibles/Jewelry/Brooch                NaN
1482519                            Women/Underwear/Panties               PINK
1482520                      Kids/Boys 0-24 Mos/One-Pieces                Gap
1482521                                 Beauty/Makeup/Face              Tarte
1482522  Electronics/Cell Phones & Accessories/Cases, C...                NaN
1482523                                 Beauty/Makeup/Face               Nars
1482524         Women/Athletic Apparel/Tracksuits & Sweats               Nike
1482525                               Women/Underwear/Bras               PINK
1482526                      Women/Tops & Blouses/T-Shirts                NaN
1482527                        Women/Tops & Blouses/Blouse                NaN
1482528                 Women/Athletic Apparel/Sports Bras  Victoria's Secret
1482529                 Men/Athletic Apparel/Shirts & Tops       Under Armour
1482530                             Women/Dresses/Mid-Calf        Free People
1482531                           Kids/Girls 2T-5T/Dresses             Disney
1482532     Sports & Outdoors/Exercise/Fitness accessories                NaN
1482533                 Home/Home Décor/Home Décor Accents                NaN
1482534                  Women/Women's Accessories/Wallets                NaN

         price  shipping                                   item_description
0         10.0         1                                 No description yet
1         52.0         0  This keyboard is in great condition and works ...
2         10.0         1  Adorable top with a hint of lace and a key hol...
3         35.0         1  New with tags. Leather horses. Retail for [rm]...
4         44.0         0          Complete with certificate of authenticity
5         59.0         0  Banana republic bottoms, Candies skirt with ma...
6         64.0         0  Size small but straps slightly shortened to fi...
7          6.0         1  You get three pairs of Sophie cheer shorts siz...
8         19.0         0   Girls Size small Plus green. Three shorts total.
9          8.0         0  I realized his pants are on backwards after th...
10         8.0         1       0.25 oz Full size is 1oz for [rm] in Sephora
11        34.0         0  (5) new vs pink body mists (2.5 oz each) Fresh...
12        16.0         0                                Xl, great condition
13         4.0         1                                 No description yet
14        43.0         0  Authentic. Suede fringe boots. Great condition...
15        11.0         1  Brand new. Deluxe travel size products. Contai...
16         6.0         1  2 glitter eyeshadows; one in Brass and one in ...
17        29.0         1  Brand new in box Size: Medium Color: Coral Ret...
18        25.0         1  This AUTHENTIC pallete by Too Faced is brand n...
19        27.0         0  Fancy, dressy or casual! Dress it up or down 1...
20        13.0         1             Size 1. Worn once. Excellent condition
21        20.0         0  NWT Victoria's Secret ULTIMATE SPORT BRA -MAXI...
22       386.0         0  Reasonable offers welcomed. But if you ask "lo...
23         8.0         1  Brand new never used All colors are available ...
24        10.0         0  lanascloset ~~~ description: never worn! ✨ i d...
25        66.0         0  They are 100 percent authentic. They are beate...
26        13.0         1  Brand new Otterbox Defender iPhone 6 Plus/6s Plus
27        24.0         0                 Worn one time. Excellent condition
28         5.0         1  Beautiful Excellent condition Zips and ties in...
29        16.0         1  29w. X 33l. Social stretch hollister jeans ***...
...        ...       ...                                                ...
1482505   34.0         0  great condition! a few signs of wear on the in...
1482506  165.0         0  Brand new sealed in box kitchen aid kitchenaid...
1482507   24.0         0          Just the game and the case. Lightly used.
1482508   21.0         0                                      New with tags
1482509   95.0         1  Fit bit charge 2, comes with box, charger pack...
1482510    9.0         1  Popsockets for all phone & Tablet Add 1 clip m...
1482511    5.0         1  Brand: Bebe Beauty lip gloss, in color Icon. B...
1482512   34.0         0                               NWOT - Blue - size 8
1482513    5.0         1  Yu-Gi-Oh Ultra Rare Single Card in NM conditio...
1482514   23.0         0  Leather Navy and creme polka dot With brown ac...
1482515   20.0         1                                        Size medium
1482516   15.0         0  Bath & Body Works Scented Candle Vanilla Bloss...
1482517   11.0         0  To see all of the bras I have listed key in JB...
1482518   10.0         1          3 appear to be VTG. The pink one is Coro.
1482519    9.0         1  Brand new with tags, Victoria Secret logo thon...
1482520   18.0         1  Bundle of Baby Gap's First Favorites 3-6 month...
1482521    9.0         1                             Brand new, never used.
1482522    8.0         1  Perfect Design for LG Tribute 5 / LG K7, NOT f...
1482523    8.0         0  Still more than half left in this! Color is or...
1482524   26.0         0  ▪️NWOT ▪️Perfect Condition ▪️Barely been worn ...
1482525    7.0         1  Removable straps to make strapless Size: 34 B ...
1482526   12.0         0  Great Harry Potter Shirt! "Hogwarts, School of...
1482527   10.0         1  Brand new black and white ribbed mock neck bod...
1482528   18.0         1  Purple and Paisley Victoria's Secret Tankini S...
1482529   34.0         0  [rm] for the set both in perfect condition no ...
1482530   20.0         1  Lace, says size small but fits medium perfectl...
1482531   14.0         0   Little mermaid handmade dress never worn size 2t
1482532   12.0         0          Used once or twice, still in great shape.
1482533   45.0         1  There is 2 of each one that you see! So 2 red ...
1482534   22.0         0  New with tag, red with sparkle. Firm price, no...

[1482535 rows x 8 columns]>